
### matching files
*.md
*.txt
*.log
*.json
*.yml
*.tgz

### folders
.idea
node_modules
coverage
.nyc_output
test
scripts
.github
.tscmultiwatch
.vscode
src

### files
.gitignore
.npmignore
.gitattributes
suman.conf.js
.editorconfig
.babelrc
.dockerignore
yarn.lock

